/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #333;
}

nav .logo {
    color: #ff6b6b;
    font-size: 1.5em;
    font-style: italic;
    
}

nav .nav-links {
    list-style: none;
}

nav .nav-links li {
    display: inline-block;
    margin-left: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 0;
    background: url('HERO.jpeg') no-repeat center center/cover;
    color: #fff;
}

.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin-top: 20px;
}

.cta-button {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

/* Section Styles */
.section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.bg-light {
    background-color: #f4f4f4;
}

/* About Section */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-pic {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

.about-text {
    max-width: 500px;
}

/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill-item {
    background-color: #ff6b6b;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
}

/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-info {
    padding: 20px;
}

/* Resume Section */
.resume-button {
    background-image: url(HERO.jpeg);
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    
    /* Center the button horizontally and position it at the bottom */
    position: absolute;
    left: 50%;
     /* Adjust this value as needed for spacing from the bottom */
    transform: translateX(-50%);
}

/* Contact Section */
#contact p {
    text-align: center;
    font-size: 1.2em;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
